<div data-navbar></div>

<div class="row well">
  <form id="teacher-detail-form" name="teacherDetailForm" class="form-horizontal">
    <input type="hidden" data-ng-model="teacher.id" />
    <div class="form-group">
      <label class="col-2 control-label" for="input-title">Firstname</label>
      <div class="col-6 controls">
        <input type="text" id="input-title" class="form-control" data-ng-model="teacher.firstname" required maxlength="500">
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-author">Lastname</label>
      <div class="col-6 controls">
        <input type="text" id="input-author" class="form-control" data-ng-model="teacher.lastname" required maxlength="500">
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-description">Sex</label>
      <div class="col-8 controls">
        <textarea rows="10" id="input-description" class="form-control" data-ng-model="teacher.sex" maxlength="1"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-artwork">Department</label>
      <div class="col-8 controls">
        <input type="text" id="input-author" class="form-control" data-ng-model="teacher.department" required maxlength="500">
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-artwork">Age</label>
      <div class="col-8 controls">
        <input type="text" id="input-author" class="form-control" data-ng-model="teacher.age" required maxlength="500">
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-artwork">Origin</label>
      <div class="col-8 controls">
        <input type="text" id="input-author" class="form-control" data-ng-model="teacher.origin" required maxlength="500">
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-artwork">Joined Date</label>
      <div class="col-8 controls">
        <input type="text" data-datepicker data-ng-model="teacher.joinedDate" required><i class="info icon-calendar"></i>
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-artwork">Is Competent</label>
      <div class="col-8 controls">
         <input type="checkbox" data-ng-model="teacher.isCompetent" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-2"></div>
      <div class="col-10 controls">
        <button type="button" class="btn btn-success" data-ng-click="save(teacher)" data-ng-disabled="teacherDetailForm.$invalid">{{'save'|i18n}}</button>
        <button type="button" class="btn btn-danger" data-ng-click="remove(teacher.id)" data-ng-show="teacher.id">{{'delete'|i18n}}</button>
        <a type="button" class="btn btn-default" href="#/teachers">{{'cancel'|i18n}}</a>
      </div>
    </div>
  </form>
</div>

